/* 
========================================================
- Admin Style
    - Settings Tab
========================================================
*/
/*
----------------------------------------------------- 
 - Settings Tab Style
-----------------------------------------------------
*/
.wcc-settings-tabs {
	padding-top: 5px;
}

.wcc-settings-tab h4 {
	font-size: 22px;
}

.wcc-settings-tab p {
	font-size: 14px;
}

.wcc-settings-tabs ul {
	width: 100%;
	height: auto;
	margin: 25px 0px 20px 0px;
}
.wcc-settings-tabs ul li {
	display: inline-block;
}
.wcc-settings-tabs ul li a {
	padding: 15px 20px;
	background: #ECF0F1;
	color: #646464;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid rgba( 0,0,0,0.1 );
	border-bottom: none;
}
.wcc-settings-tabs ul li a.active {
    background-color: #fff;
}
.wcc-settings-tabs ul li a:focus {
	outline: none;
	box-shadow: none;
}
.wcc-settings-tabs ul li a img {
	width: 20px;
	margin: 0 5px -3px 0;
}
.wcc-settings-tab {
	background: #fff;
	padding: 15px 25px;
	margin-top: -11px;
	border: 1px solid rgba( 0,0,0,0.1 );
	border-top: none;
    position: relative;
    display: none;
}
.wcc-settings-tab.active {
    display: block;
}
.wcc-settings-tabs ul li.ui-tabs-active a {
	background: #fff;
	outline: none;
	box-shadow: none;
	color: #343434;
}
p.wcc-el-title {
	font-size: 15px;
	font-weight: 600;
	color: #333;
	margin: .5em;
}
.wcc-settings-tab p.wcc-elements-control-notice {
	color: #42418e;
	font-size: 16px;
	border: 1px solid #42418e;
	padding: 10px;
	text-align: center;
	display: block;
}
